In [36]:
import pandas as pd
import numpy as np

### values를 통해서 배열 값 획득

In [11]:
obj.values

array([ 4,  7, -5,  3])

### index를 통해서 index 객체 획득

In [12]:
obj.index

RangeIndex(start=0, stop=4, step=1)

### index를 지정해서 객체 생성

In [13]:
obj = pd.Series([4, 7, -5, 3])
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
obj2.index # obj2 의 인덱스값 확인

Index(['d', 'b', 'a', 'c'], dtype='object')

In [20]:
obj2['a'] # ojb2의 인덱스 'a'의 값 확인

-5

In [33]:
obj2[2]

-5

In [28]:
obj2[['c', 'a', 'b']]

c    3
a   -5
b    7
dtype: int64

### obj2의 원소중에서 0보다 큰것은?

In [31]:
obj>0 # 이런식으로 불리안으로 해당 인덱스에 결과가 나온다.

0     True
1     True
2    False
3     True
dtype: bool

In [30]:
obj2[obj2>0] # 조건을 만족하는 데이터만 내놓아라 (불리언 조건식이 True인 것만 출력하는 메커니즘), 이렇게 해도 인덱스 연결이 유지 된다.

d    4
b    7
c    3
dtype: int64

In [34]:
obj2*2 # 곱하기 연산을 해도 인덱스 연결이 유지된다.

d     8
b    14
a   -10
c     6
dtype: int64

In [37]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Series를 이해 하는 다른 방법. 고정 길이의 정렬된 딕셔너리타입, 파이썬의 딕셔너리타입을 인자로 받아야 하는 많은 함수에서 딕셔너리타입을 대체하여 사용가능

In [40]:
'c' in obj2

True

파이썬 딕셔러니객체로 부터 Series객체를 생성할 수 있다.

In [49]:
sdata = {'Ohio': 35000, 'Tesas': 12000, 'Oregon': 11300, 'Utha': 5000}
type(sdata)

obj4 = pd.Series(sdata)
obj4
    
type(obj4)

pandas.core.series.Series

In [3]:
tf.__version__

'2.6.0'